/* Обнуление */
*,
*::before,
*::after {
    box-sizing: border-box;
}


img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*-----------HEADER-----------*/

html {
	scroll-behavior: smooth;
}

body {
	background: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {

	background-color: #AFCFE4;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	color: #704300;
	font-size: 20px;
	transition: color .5s;
}

.nav-link:hover {
	color: #ffffff;
}

/*-----------MAIN-----------*/

.main {
	min-height: 100px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 50%;
}

@media (max-width: 768px) {
	.section {
		width: 100%;
	}
}

.section-profile {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 50px;
	border-bottom: 15px solid #704300;
}

.my-image {
	width: 300px;
	height: 300px;
}

.profile-title {
	font-size: 36px;
	color: #704300;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 10px;
}

.profile-subtitle {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

.profile-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 50px;
}





























/*-----------FOOTER-----------*/

.footer {
	min-height: 100px;
	background-color: rgb(175, 207, 228);
}
